/* Container principal pour centrer le contenu */
.displayTable {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Utilise toute la hauteur de la fenêtre */
    background-color: #1E1E1E; /* Fond sombre */
}

/* Cellule contenant le formulaire et les éléments */
.displayTableCell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.authBlock {
    background-color: #2A2A2A; /* Fond gris plus clair que le fond de la page */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    max-width: 400px;
    width: 100%;
}

h3 {
    margin-bottom: 20px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

p.text-center {
    color: #ccc;
    font-size: 14px;
}

.formGroup {
    margin-bottom: 20px;
}

.formControl {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    box-sizing: border-box;
    background-color: #333; /* Fond sombre pour le champ */
    color: white; /* Texte en blanc */
}

/* Focus sur les champs de saisie */
.formControl:focus {
    border-color: #007bff; /* Bordure bleue lors du focus */
}

/* Bouton pour réinitialiser le mot de passe */
.btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btnPrimary {
    border: 1px solid #007bff;
    color: #007bff;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
}

.btnPrimary:hover {
    background-color: #007bff;
    color: white;
}

/* Lien pour retourner à la page de connexion */
.redirectToLogin {
    margin-top: 20px;
    color: #ccc; /* Texte gris clair */
}

.redirect {
    color: #007bff;
    cursor: pointer;
}

.redirect:hover {
    text-decoration: underline;
}