<div class="camera-view">
    <div class="camera-status">
      <!-- Needs to be coded on backend -->
      <span class="status-info" id="cpu-usage">CPU: Loading...</span> 
      <span class="status-info" id="battery-status">Battery: Loading...</span>
      <span class="status-info" id="fps-status">FPS: Loading...</span>
    </div>
    <div class="camera-display">
      <video class="camera-feed" controls autoplay>
        <source src="rtsp://172.20.10.3:8554/live" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="camera-controls">
      <button class="record-btn">Recording</button>
      <button class="capture-btn">📷</button>
    </div>
</div>
  
  <div class="robot-controller">
    <div class="controller-header">
      <label for="switch">Switch controller</label>
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" aria-checked="true"  checked>
    </div>
    
    <div class="controller-pad">
      <button class="control-btn">⬆</button>
      <div class="side-controls">
        <button class="control-btn">⬅</button>
        <button class="center-btn">CUT/GRAB</button>
        <button class="control-btn">➡</button>
      </div>
      <button class="control-btn">⬇</button>
    </div>
  </div>
